@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    background-image: linear-gradient(90deg, #2b2b2b, #a8a8a8, #2b2b2b);
}

.hero_name {
  position: absolute;
  transition-property: bottom;
  transition-duration: .5s;
  width: 100%;
  font-family: 'PT Serif', serif;
  font-size: medium;
  text-shadow: 1px 1px 15px #FFF;
  text-align: left;
  letter-spacing: 1px;
  color: #EEE;
  margin-top: -1px;
  margin-left: 2px;
}

.hero_name_text {
  z-index: 1;
}

.name_container {
  height: 20px;
  width: 100%;
  position: relative;
  top: 0px;
  background-color: black;
  border-color: rgb(55, 55, 55);
  border-style: solid;
  border-width: 2px;
}

.ability_icon_container {
  background-color: black;
  width: 45px;
  height: 45px;
  border-color: goldenrod;
  border-width: 2px;
  border-style: solid;
  border-radius: 2.5px;
  text-align: center;
  margin: 0 0.5px 0 0.5px;
  flex-basis: auto;
  flex-shrink: 1;
  display: flex;
}

.ability_icon {
  width: 43px;
  height: 43px;
  margin: auto;
  overflow: hidden;
  bottom: 0px;

  border-radius: 1px;
}

.abilities_bar {
  position: absolute;
  bottom: 15px;
  width: 90%;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;

  z-index: 1;
}

.card_container {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  overflow: visible;
  position: absolute;
  transition-property: transform left right;
  transition-duration: .19s;
  height: 408px;
  width: 288px;

}


.card {
  width: 288px;
  height:408px;
  position: absolute;
  background-color: black; 
  border-width: thick;
  border-style: solid;
  overflow: hidden;
  border-radius: 3.5%;

  display: flex;
  align-content: center;


  z-index: 1;
  overflow: visible;

}

#left6 {
  transform-origin:center right;
  transform: rotateY(50deg) scale(0.55);
  left: 2%;
  z-index: -6;
}

#left5 {
  transform-origin:center right;
  transform: rotateY(50deg) scale(0.55);
  left: 3.5%;
  z-index: -5;
}

#left4 {
  transform-origin:center right;
  transform: rotateY(40deg) scale(0.65);
  left: 7%;
  z-index: -4;
}

#left3 {
  transform-origin:center right;
  transform: rotateY(30deg) scale(0.75);
  left: 12.5%;
  z-index: -3;
}

#left2 {
  transform-origin:center right;
  transform: rotateY(20deg) scale(0.8);
  left: 20%;
  z-index: -2;
}

#left1 {
  transform-origin:center right;
  transform: rotateY(10deg) scale(1);
  left: 30%;
  z-index: -1;
}

#right6 {
  transform-origin:center left;
  transform: rotateY(50deg) scale(0.55);
  left: calc(98% - 288px);
  z-index: -6;
}

#right5 {
  transform-origin:center left;
  transform: rotateY(50deg) scale(0.55);
  left: calc(96.5% - 288px);
  z-index: -5;
}

#right4 {
  transform-origin:center left;
  transform: rotateY(40deg) scale(0.65);
  left: calc(93% - 288px);
  z-index: -4;
}

#right3 {
  transform-origin:center left;
  transform: rotateY(30deg) scale(0.75);
  left: calc(87.5% - 288px);
  
  z-index: -3;
}

#right2 {
  transform-origin:center left;
  transform: rotateY(20deg) scale(0.8);
  left: calc(80% - 288px);
  z-index: -2;
}

#right1 {
  transform-origin:center left;
  transform: rotateY(10deg) scale(1);
  left: calc(70% - 288px);
  z-index: -1;
}

.selected_card {
  transform: scale(1.25);
  z-index: 0;
  left: calc(50% - 145px);
  
}

.card_outer {
  width:95%;
  height:95%;
  margin: auto;
  background-image: linear-gradient(115deg, gray, black);
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.card_inner {
  position: absolute;
  height: 336px;
  width: 240px;
  margin-top: 20px;
  border: 3px solid rgb(55, 55, 55);
  border-radius: 2%;
  background-image: linear-gradient(140deg, #333, #555 40%);
  overflow:hidden;
}

.hero_image_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero_image {
  position: absolute;
  width: 100%;
  transition-property: transform;
  transition-duration: .5s;
  filter: saturate(150%) hue-rotate(5deg) brightness(105%);
  /*margin-top: -22.5%;
  margin-left: -25%;*/
}

.search_container {
  width: 100%;
}

.search {
  position: relative;
  max-width: 1600px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

select {
  background-color: rgb(70, 70, 70);
  color: white;
}

input {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  border: 0 white hidden;
  font-size: 16px;
  background-color: rgb(70, 70, 70);
  color: white;
}

.input_query {
  width: 95%;
  color: white;
  letter-spacing: 1px;
  height: 80%;
}

input:focus {
  background-color: #6e6e6e;
}

.search_image {
  margin: 10px;
  height: 20px;
  width: 20px;
  color: white;
}



.hero_card_page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hero_list {
  /*display: flex;*/
  /*flex-direction: row;*/
  position:relative;
}

#hero_tape_container {
  width: 100%;
  overflow: visible;
  position: relative;
}


#selected_card {
  transform: scale(1.5);
}

.filter_bar{
    border-style:ridge;
    border-color:dimgray;
    border-width:5px;
    border-top-width: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  background-color: #112817;
  align-items: center;
  overflow: hidden;
}

.filter_bar_name_container{
  font-size: 38pt;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

.filters {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.attribute_image{
  height: 92%;
  filter: grayscale(.9) blur(1.5px);
}

.attack_image {
  height: 100%;
  transform:scale(.75);
  filter: grayscale(.9) blur(1.5px);
}

.selected_img{
  filter: grayscale(0) blur(0) brightness(1.2);
}
.gender_icon {
  transform:scale(2.5);
  filter: grayscale(.9);
  color: rgb(255, 255, 255);
  filter: blur(.5px);
}

.selected_icon {
  filter:blur(0);
}

.discrete_categories {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.attributes_filter_container {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.attack_style_filter_container {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sex_filter_container {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.attribute_button {
  background-color: rgb(56, 56, 56);
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  transition-property: transform;
  transition-duration: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  cursor:pointer;
}

.attribute_button.selected {
  background-color: rgb(126, 126, 126);
  transform: scale(1.1);
}


.main_attribute_container {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;
  z-index:2;
  background-color: gray;
  border-radius: 100%;
  display: flex;
  border-style: solid;
  border-width: 1.5px;
}

.main_attribute_image {
  filter: brightness(120%);
}

.filter_dropdown_list {
  width:130px;
}

.filters_list_container {
  display:flex;
  align-items: center;
  gap: 3px;
}

.value_input_field {
  width: 30px;
}

.operator_and_input {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.operators_list {
}

#limittext {
  width: 30px;
  margin-left: 10px;
}

.limit_container label {
  color:white;
}

.radio {
  width:initial;
  height:initial;
}

.radio_container {
  color: white;
}

.fa-check {
  margin:25%;
}

.fa-times {
  margin: 25%;
}

.secondary_filter_submit {
  width:30px;
  height:30px;
  background-color: limegreen;
  border-radius: 100px;
}

.secondary_filter_list {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.secondary_filter {
  
  height: 20%;
  width: 100%;
  background-color: #979797;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
}

.filter_delete_button {
  background-color: red;
  height: 100%;
  width: 20px;
  right:0px;
  position: absolute;
}

.continuous_categories {
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.secondary_filter_text{
  position: absolute;
  height: inherit;
  width: inherit;
}

.fa-info-circle {
  display: none;
}
.selected_card .fa-info-circle {
  display: block;
  color:rgb(255, 115, 115);
  position: absolute;
  left: 0px;
  margin-left: 8px;
  margin-top: 1px;

}

.card_popout {
  position: absolute;
  transform: scale(1);
  top: 2.5%;
  width: 80%;
  height: 95%;
  left:-77%;
  
  border-radius: 5px 0px 0px 5px;
  background-color: #3a3f3b;
  z-index: -1;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  animation-duration: .2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-name: popout_easeout;

  transition-property: left;
  transition-timing-function: ease-out;
  transition-duration: .2s;

  border-radius: 3px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
}

@keyframes popout_easeout{
  from {
    left: 0%;  
  }

  to {
    left: -77%;
  }
}

.hp_and_mana_container {
 
  width: 90%;
  
  display: flex;
  flex-direction: column;
  row-gap: 3%;
  height: 20%;
  
}

.hp_mana_bar {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;

  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  border-color: goldenrod;
}

.base_value {
  position: absolute;
  justify-self: left;
  left:5%;
  color:white;
  text-shadow: 1px 1px 15px #FFF;
  margin-bottom: 2%;
  margin-left: 2%;
}

.regen_value {
  position: absolute;
  justify-self: end;
  right:5%;
  color: white;
  text-shadow: 1px 1px 15px #FFF;
  margin-bottom: 2%;
  margin-right: 2%;
}

#hp {
  background-color: rgb(0, 187, 16);
}

#mana {
  background-color: rgb(0, 0, 184);
}

.damage_armor_speed_containers_container{  
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  height: 100%;
  width: 90%;
  gap: 5%;
  justify-content: center;
  
}

.damage_armor_speed_container {
  display:flex;
  flex-direction: column;
  column-gap: 5%;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
  color: white;
}

.stat img {
  width: 25px;
}

.attribute_holder_container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
  
}

.attribute_holder {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  color: white;
}

.attribute_img {
  width: 55px;
}

.column_barrier{
  height: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.column_barrier::after{
  content: "";
  width: 80%;
  height: 100%;
  background-color: rgb(68, 68, 68);
}

.sortby {
  display: flex;
  flex-direction: column;
  gap: 8px;
}